.gradle/
build/
**/build/
bin/
**/bin/
.DS_Store
**/.classpath
**/.project
**/.settings/org.eclipse.buildship.core.prefs
vscode/gretl-vscode/node_modules/
vscode/gretl-vscode/dist/
vscode/gretl-vscode/*.vsix
vscode/gretl-vscode/server/*.jar
docs/reference/.thoth/
docs/reference/biblios.local.yml
.thoth/
